extends layout

append head
  title #{key} - #{course} - Omnivore

append content
  p.key: +key(key)
  
  table
    tbody
      each row in dirs.filter(dir => ! dir.leaf)
        tr
          td.bullet
          td.key: a(href="/#{course}/grades#{row.key}"): +key(path.relative(key, row.key))
  table
    tbody
      each row in dirs.filter(dir => dir.leaf)
        tr
          td.bullet(data-computed=row.computed)
          td.key: a(href="/#{course}/grades#{row.key}"): +key(path.relative(key, row.key))
          td.visible(data-on=row.visible)
          td.active(data-on=row.active)
