extends layout

append head
  title #{key} - #{course} - Omnivore

append content
  - var csvurl = '/' + course + '/grades.csv' + key.replace(/(.*)\/(.*)/, '$1;$2');
  
  p.key: +key(key)
  
  p
    span.visible(data-on=keyinfo.visible)
    span.active(data-on=keyinfo.active)
    = keyinfo.description
    a.csv(href=csvurl)
  
  if keyinfo.due
    p: span.due.ts(data-value=keyinfo.due): +ts(keyinfo.due)
  
  table
    tbody
      each row in grades
        tr
          td.user: a(href="/#{course}/u/#{row.user}#{key}")= row.user
          td.value(data-type=row.type)= row.value
          td.ts: +ts(row.ts)
  
  if inputs.length
    p This value is computed from inputs:
      a.csv(href="#{csvurl};#{inputs.map(row => path.relative(path.dirname(key), row.key)).join(';')}")
    table
      tbody
        each row in inputs
          tr
            td.key: a(href="/#{course}/grades#{row.key}"): +key(path.relative(path.dirname(key), row.key))
            td.visible(data-on=row.visible)
            td.active(data-on=row.active)
  
  if outputs.length
    p This value is used to compute outputs:
    table
      tbody
        for row in outputs
          tr
            td.key: a(href="/#{course}/grades#{row.key}"): +key(path.relative(path.dirname(key), row.key))
            td.visible(data-on=row.visible)
            td.active(data-on=row.active)
