mixin key(key)
  each dir in key.replace(/-grade$/, '').split(/(?=\/)/)
    if dir.length < 32
      span(data-unbreakable=true)= dir
    else
      each chunk in dir.split(/(\w{20,})/).filter(chunk => chunk)
        span(data-breakable=chunk.search(/^\w{20,}/) === 0)= chunk
    if ! dir.endsWith('..')
      wbr

mixin keynav(key)
  a(href='.')
    span.root= username || '*'
    +key(path.dirname(key))
  if path.dirname(key) != '/'
    | /
  +key(path.basename(key))

mixin value(value)
  if types.is(value, 'array')
    each elt, idx in value
      if idx
        | ,
      |  #{elt}
  else if types.is(value, 'string')
    each piece in value.split(/(\n)/)
      - let mdlink = /^\[(.+)\]\((https?:\/\/\S+)\)$/.exec(piece)
      if mdlink
        a(href=mdlink[2])= mdlink[1]
      else if /^https?:\/\/\S+$/.test(piece)
        a(href=piece)= piece
      else if piece === ''
        br
      else
        = piece
  else
    = value

mixin editvalue(grade)
  if types.is(grade.value, 'string') && grade.value.includes('\n')
    textarea.form-control(name=grade.key, rows=grade.value.split('\n').length, cols=40)=grade.value
  else if types.is(grade.value, 'boolean number string')
    input.form-control(type='text', name=grade.key, value=''+grade.value, size=20)
  else if grade.value === null
    textarea.form-control(name=grade.key, rows=1, cols=40)=grade.value
  else
    | Cannot edit #{types.which(grade.value, types.value_types)}

mixin ts(ts)
  if ts
    = types.dateTimeString(new Date(ts))

mixin plural(count, singular, plural)
  | #{count} #{count == 1 ? singular : plural ? plural : singular + 's'}
