extends layout

append head
  title Upload Grades - #{course} - Omnivore

append content
  
  table.sheet.pull-right
    tbody
      tr
        td.value(data-type='number') number
        td.value(data-type='string') text
        td.value(data-type='boolean') boolean
        td.value(data-type='none') missing
  
  .staff
    p Previewing uploaded grades
    p created #{upload.created} #[br] by #{upload.username} #[br] expires #{upload.timeout}
    p To save these grades:
    
    form(method='post')
      p: button.btn.btn-default Save
  
  table.sheet
    thead
      tr
      th
      th
      each key in keys
        th.key: a(href=`/${course}/grades${key.key}`)
          +arrow(key.inputs.length)
          | #{key.key}
          +arrow(key.outputs.length)
    tbody
      each row in rows
        tr(data-invalid=!types.is(row.username, 'username'))
          td.roster(data-on=row.on_roster, data-type=row.exists ? '' : 'none')
          td.user.staffer(data-on=row.on_staff): a(href=`/${course}/u/${row.username}`)= row.username
          each value in row.values
            td.value(data-type=types.which(value, types.value_types)): +value(value)

mixin arrow(count)
  = count == 0 ? '-' : '>'.repeat(count)
