extends layout

append head
  title Saved Grades - #{course} - Omnivore

append content
  
  .staff
    p Saved #[+plural(valid, 'grade')]
      if invalid
        | #[br] (skipped #{invalid} invalid)
      | #[br] dated #{ts} #[br] by #{authuser}
  
  p Keys
  table
    tbody
      each key in upload.data.keys
        tr
          td.bullet
          td.key: a(href=`/${course}/grades${key}`): +key(key)
