extends layout

append head
  title #{username} #{key} - #{course} - Omnivore

append content
  p= username
  p.key: +key(key)
  
  table
    tbody
      each row in dirs.filter(row => ! row.leaf)
        tr
          td.bullet
          td.key: a(href="/#{course}/u/#{username}#{row.key}"): +key(path.relative(key, row.key))
  table
    tbody
      each row in children
        tr
          td.bullet(data-computed=row.computed)
          td.key: a(href="/#{course}/u/#{username}#{row.key}"): +key(path.relative(key, row.key))
          td.value(data-type=row.type)= row.value
          td.ts: +ts(row.ts)
          td.due.ts(data-value=row.due): +ts(row.due)
          td.active(data-on=row.active)
